<div class="container">
    <div class="jumbotron">
      <form #frm="ngForm" (ngSubmit)="addUser(frm)">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" name="name" ngModel #nameUser="ngModel" required pattern="[a-zA-z][a-zA-Z]+">
        </div>
        <div *ngIf="nameUser.touched">
          <div *ngIf="nameUser.errors?.required" class="alert alert-danger">
            Name is required! 
          </div>
          <div *ngIf="nameUser.errors?.pattern" class="alert alert-danger">
            Pattern is not matched!
          </div>
        </div>
        <div class="form-group">
          <label for="contact">Contact:</label>
          <input type="text" class="form-control" name="contact" ngModel #contactUser="ngModel" required maxlength="10" minlength="10" pattern="[0-9]*">
        </div>
        <div *ngIf="contactUser.touched">
          <div *ngIf="contactUser.errors?.required" class="alert alert-danger">
            Contact is required! 
          </div>
          <div [hidden]="!contactUser?.hasError('minlength')" class="alert alert-danger">
            Pattern is not matched!
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" name="email" ngModel #emailUser="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </div>
        <div *ngIf="emailUser.touched">
          <div *ngIf="emailUser.errors?.required" class="alert alert-danger">
            Email is required! 
          </div>
          <div *ngIf="emailUser.errors?.pattern" class="alert alert-danger">
            Pattern is not matched!
          </div>
        </div>
        <button type="submit" name="button" class="btn btn-success" [disabled]="frm.invalid">Add User</button>
      </form>
    </div>
</div>

<ul class="list-group">
  <li *ngFor="let user of userList" class="list-group-item">
    {{ user?.name }}
  </li>
</ul>

{{ frm.value | json }}