<img [src]="imageUrlChild" alt="">

<ul class="list-group">
  <li class="list-group-item" *ngIf="GOTCharacter?.length > 0">{{ GOTCharacter[0] }}</li>
  <li class="list-group-item" *ngIf="GOTCharacter?.length > 0">{{ GOTCharacter[1] }}</li>
  <li class="list-group-item" *ngIf="GOTCharacter?.length > 0">{{ GOTCharacter[2] }}</li>
  <li class="list-group-item" *ngIf="GOTCharacter?.length > 0">{{ GOTCharacter[3] }}</li>
</ul>

<button type="button" class="btn btn-primary" name="button" (click)="switchFirstAndLastName()">switch</button>
<button type="button" class="btn btn-danger" [disabled]="stopSwitchStatus"  name="button" (click)="stopSwitchFirstAndLastName()">stop</button>
<div class="">
  <input type="text" [(ngModel)]="twoWayData" [value]="twoWayData" name="" value="">
  {{ twoWayData }}
</div>
